.banner {
  background-size: cover;
  background-position: center;
  background-color: #ffcc00;
  display: flex;
  justify-content: space-between;
}

.icono {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  text-align: center;
  margin-left: 70px;
  padding-bottom: 10px;
}
.happydog {
  margin-right: 0px;
  margin-bottom: 0px;
}

.logo{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.banner h1 {
  margin-left: 5px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  background-position: center;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Fredoka One', cursive;
  width: 500px;
}

.banner button {
  width: 120px;
  margin-left: 40px
}

.banner p {
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2)
  font-family: 'Fredoka One', cursive;
}

  h1 {
    color: black;
    font-size: 50px;
    font-family: 'Baloo Da 2', cursive;

}

  h2 {
    color: black;
    font-size: 25px;
    font-family: 'Baloo Da 2', cursive;
    margin-left: 40px;
    text-align: center;
}

  p {
    color: black;
    font-size: 15px;
    font-family: 'Baloo Da 2', cursive;
}

  .maintitle {
    color: black;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Baloo Da 2', cursive;
    margin-left: 40px;
    text-align: center;
    padding: 2%;
}

  .titulo-training {
    color: black;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Baloo Da 2', cursive;
    margin-left: 40px;
    text-align: center;
    padding: 2%;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}
  
.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-category {
  background-image: url("images/7.jpg");
  background-position: center; 
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 600px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category h2{
  color:yellow;
  font-size: 50px;
  justify-content: center;
  padding: 20px, 40px; 
}

.card-category p{
  color:white;
  font-size: 15px;
  justify-content: center;
  padding: 20px, 20px;
}

.card-category-text {
  color:white;
  font-size: 15px;
  justify-content: center;
  margin: 60px;
}

.form-group {
  justify-content: center;
  border-color: grey;
  padding-top: 40px;
  font-size: 15px;
  margin: 45px;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer .fa-heart {
  color: #D23333;
}

.pie {
  margin: 0px;
  padding: 0px;
}